<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="FilesByDate"/>
  </extensions>
  <variable name="logsDir" value="D:\SEDC\Services\Logs" />
  <targets>

    <!--Everything logs Info & Above (Info,Warn,Error,Fatal) -->
    <target archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveFileName="${logsDir}/MicroBotServices_Info_${date:format=yyyy-MM-dd}_[{#}].log"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            enableFileDelete="true"
            fileName="${logsDir}/MicroBotServices_Info_${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${mdc:item=UserName}] [${level}] [${threadid}] ${callsite:className=true:includeSourcePath=false:methodName=true} ${message}${onexception:inner=${newline}${newline}${exception:format=ToString}}"
            maxArchiveFiles="30"
            name="Everything"
            xsi:type="File"
            />

    <!--OnlyException logs Error,Fatal-->
    <target archiveAboveSize="5242880"
         archiveEvery="Day"
         archiveFileName="${logsDir}/MicroBotServices_Exception_${date:format=yyyy-MM-dd}_[{#}].log"
         archiveNumbering="Rolling"
         concurrentWrites="true"
         enableFileDelete="true"
         fileName="${logsDir}/MicroBotServices_Exception_${date:format=yyyy-MM-dd}.log"
         keepFileOpen="false"
         layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${mdc:item=UserName}] [${level}] [${threadid}] ${callsite:className=true:includeSourcePath=false:methodName=true} ${message}${onexception:inner=${newline}${newline}${exception:format=ToString}}"
         maxArchiveFiles="30"
         name="OnlyException"
         xsi:type="File"
            />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Everything" />
    <logger name="*" minlevel="Error" writeTo="OnlyException" />
  </rules>
</nlog>
